body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('aset/back.jpg'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover; /* Ensures the background image covers the entire body */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}
.container {
    overflow: auto; 
}

.portfolio-item {
    width: 80%; /* Adjust as needed */
    margin: 20px auto;
    background-color: #cfcfcf;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-section {
    position: relative; /* Ensure relative positioning for children */
    width: 80%; /* Adjust as needed */
    margin: 20px auto;
    background-color: #cfcfcf;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adjust spacing between portfolio items and profile section */
}

.profile-image {
    position: relative; /* Ensure relative positioning */
    display: inline-block;
    max-width: 40%; /* Adjust as needed */
    margin: 20px auto;
    border-radius: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease;
}
.h2-bubble {
    display: inline-block;
    background-color: #cfcfcf;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease;
}

.show {
    opacity: 1; /* Show when condition met */
}

#peekaboo {
    width: 50vw; /* 50% of viewport (window) width */
    opacity: 0;
    transform: translate(0,-200px);
    transition: all 1s;
}

#peekaboo.show {
    opacity: 1;
    transform: translate(0,0);
}

.text-bubble {
    position: absolute; /* Ensure absolute positioning */
    top: 10px; /* Adjust as needed */
    left: calc(60%); /* Adjust as needed */
    width: 200px; /* Adjust as needed */
    padding: 20px;
    background-color: #254772;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.text-bubble h2 {
    font-size: 16px; /* Adjust as needed */
    margin-bottom: 10px;
}

.text-bubble-below {
    width: 80%; /* Adjust as needed */
    margin: 20px auto;
    background-color: #cfcfcf;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 850px) {
    /* No changes here, as we want the default behavior for viewport width up to 850px */
}

@media screen and (min-width: 851px) {
    .container{
        max-width: 851px;
    }
    .portfolio-item{
        max-width: 851px;
    }
    .profile-section,
    .h2-bubble,
    .text-bubble,
    .text-bubble-below {
        max-width: 80%; 
        
    }
    .profile-image {
        max-width: 300px; 
    }
}