@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap');

/* General Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body.locked {
    overflow: hidden; /* Lock scrolling */
}

header {
    background-color: rgb(18, 18, 18); /* Dark background color */
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 
        0 0px 15px #aa75ff7d,         /* Inner sharp shadow */
        0 0px 50px rgb(85, 0, 255); /* Outer soft glow */
}


/* New class for nav links in header */
.header-nav {
    margin-bottom:-2em;
    display: none; /* Hidden by default */
}

.header-nav a {
    font-size: 30px;
    margin-left: .5em;
    color: rgb(43, 43, 43); /* Set text color to white */
    text-decoration: none; /* Remove underline from links */
    padding: 0.1em .7em; /* Add padding for a larger clickable area */
    border-radius: 0.5em; /* Ensure the border-radius is initially set */
    transition: box-shadow .4s ease-in-out, .4s ease-in-out, .4s ease-in-out, border-radius .4s ease-in-out; /* Smooth transition for hover */
}

.header-nav a:hover {
    background: rgb(35, 35, 35); /* Dark background on hover */
    color: #ffffff; /* Keep text color transition on hover */
    border-radius: 0.2em; /* Rounded corners on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Drop shadow */
}



.logo h1 {
    color:grey;
    margin: 0;
}

.trigger {
    background: #2a2a2a;
    outline: 0;
    padding: 8px 15px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    
    position: absolute; /* Position the button relative to its nearest ancestor */
    right: 20px; /* 20px from the right edge */
    top: 3px; /* 20px from the top edge */
}


.main {
    padding: 20px;
}

/* Social Buttons */
.button-container {
    text-align: center;
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
    flex-wrap: wrap; /* Allow wrapping in mobile mode */
    margin: 20px 0; /* Margin for spacing */
}

.social-button {
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    background-color: rgb(35, 35, 35); /* Button background color */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 15px 5px; /* Padding for button size */
    border-radius: 10px; /* Rounded corners */
    margin: 10px; /* Margin for spacing between buttons */
    transition: background-color 0.3s ease-in-out; /* Smooth transition */
    width: 150px; /* Adjust width as needed */
    text-align: center; /* Center text */
}

.social-button svg {
    margin-right: 10px; /* Add some space between the icon and text */
}

.social-button:hover {
    background-color: rgb(59, 59, 59); /* Darker shade on hover */
}

footer {
    background-color: rgba(134, 73, 255, 0.7);
    color: rgb(43, 43, 43);
    text-align: center;
    padding: 20px 0;
}

.foot ul {
    list-style-type: none;
    padding: 0;
}

.foot li {
    display: inline;
    margin: 0 10px;
}

.foot li a {
    color: rgb(43, 43, 43);
    text-decoration: none;
    transition: border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out, 0.3s ease-in-out;
}

.foot li a:hover {
    background: rgba(35, 35, 35, 0.582);
    border-radius: 0.2em; /* Rounded corners on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    color: white;
}

/* Full-Screen Navigation Styles */
.full-screen-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none; /* Initially hidden */
}

.open-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.92);
    cursor: pointer;
    animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

ul {
    z-index: 9999;
    position: relative;
}

ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
    animation: 0.25s ease-in-out animateList forwards;
}

ul li:last-child {
    margin-bottom: 0;
}

@keyframes animateList {
    from {
        margin-top: -60px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.15s ease-in-out;
}

ul li a:hover {
    color: rgba(134, 73, 255, 0.7);
}
.re {
    opacity: 0; /* Hide initially */
    transition: opacity 1s ease-in-out; /* Smooth fade-in effect */
}
/* Content Wrapper Styles */
.content-wrapper {
    opacity: 0; /* Hide initially */
    transition: opacity 2s ease-in-out; /* Smooth fade-in effect */
    display: flex;
    margin-left:4em;
    justify-content: space-between;
    align-items: center; /* Center vertically */
}
.standardT{
    font-size: 2em;
}
.standarT{
    margin-top: 1em;
    font-size: 1.5em;
}
/* Logo Animation */
.logo {
    animation: float 10s ease-in-out infinite; /* Infinite floating animation */
}

/* Floating Animation for Logo */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Move up by 10px */
    }
    100% {
        transform: translateY(0); /* Back to original position */
    }
}

/* About Me Section */
.sesecion {
    display: flex;
    justify-content: space-between; /* Spread elements across */
    align-items: flex-start; /* Align items at the top */
    flex-wrap: wrap; /* Allow wrapping in mobile */
    margin-top: 20px;
    background-image: url('wavey-fingerprint.svg'); /* Add your custom image URL */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    padding: 40px 150px; /* Adds padding around the content */
    border-radius: 10px; /* Optional: adds rounded corners to the background */
}

.title{
    margin-top: 5em;
}
/* Adjust text background to ensure readability on top of the image */
.sesecion .About,
.sesecion .Ent,
.sesecion .nonsoco {
    background-color: rgba(122, 122, 122, 0.6); /* Semi-transparent background for better readability */
    padding: 15px;
    border-radius: 5px; /* Add rounded corners */
}

/* Image inside the section */
.sesecion .profo1 {
    max-width: 250px; /* Adjust the image width */
    border-radius: 10px; /* Optional: round image corners */
}
.profo{
    margin-right: 2em;
    border-radius: .5em;
}
.sesecion .nonsoco {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(134, 73, 255);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.button-wrapper {
    display: flex;             /* Use flexbox for centering */
    justify-content: center;   /* Center the content horizontally */
    align-items: center;       /* Center the content vertically */
    margin-top: 15em;         /* Adjust as needed for space above */
    margin-bottom: 15em;      /* Adjust as needed for space below */
}

.recent-articles-button {
    font-size: 5em;           /* Font size for the button */
    text-decoration: none;     /* Remove underline from the link */
    color: white;              /* Ensure button text color is white */
    transition: transform 0.3s ease; /* Smooth transition for the scaling effect */
}

.recent-articles-button:hover {
    transform: scale(1.1); /* Scale up the button size on hover */
}

.intro {
    color:rgba(134, 73, 255, 0.7);
    font-size: 2em; /* Larger font size */
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 30px; /* Add space from the left */
    margin-top: 100px;  /* Add space from the top */
}

.name {
    font-size: 3em; /* Slightly smaller font */
    color: rgb(26, 26, 26); /* Text color */
    font-weight: 900;
    margin-left: 120px; /* Add space from the left */
    text-shadow: 3px 3px 8px rgba(134, 73, 255, 0.7); /* Drop shadow */
}
.tester{
    color:rgba(134, 73, 255, 0.7);
}
/* Media Queries */
@media (max-width: 600px) {
    
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 0px;
    }

    .trigger {
        display: block; /* Show menu button */
    }

    /* Hide nav links in mobile */
    .header-nav {
        display: none; /* Completely hidden */
    }

    .content-wrapper {
        flex-direction: column; /* Stack vertically on smaller screens */
    }

    .text-content {
        text-align: center; /* Center the text in mobile */
    }

    .button-container {
        flex-direction: column; /* Stack buttons vertically on mobile */
    }

    .social-button {
        margin: 5px 0; /* Margin for spacing between buttons */
    }

    /* About Me section on mobile */
    .sesecion {
        gap: 1em;
        display: flex;
        flex-direction: row; /* Display items side by side */
        justify-content: center; /* Center elements horizontally */
        align-items: center; /* Center elements vertically */
        padding: 20px; /* Reduced padding for mobile */
    }

    .profo1 {
        margin-right: 10px; /* Space between image and entitlements */
        max-width: 100px; /* Set a max width for the image */
    }

    /* Align entitlements and read more next to the image */
    .Ent, .nonsoco {
        margin: 0 10px; /* Side margins for spacing */
        text-align: center; /* Center text within these elements */
        max-width: 200px; /* Limit max width for better layout */
    }

    .Ent {
        margin-top: 0; /* Adjust spacing */
        order: 2; /* Place after the image */
    }

    .nonsoco {
        order: 3; /* Keep "Read More!" after Entitlements */
        text-align: center; /* Center "Read More!" text */
    }
    .content-wrapper {
        flex-direction: column; /* Ensure stacking in mobile view */
        margin-left: 0em;
    }

    .standardT {
        padding-top:2em;
        font-size: 1.5em; /* Smaller text size for mobile */
    }

    .standarT {
        padding-bottom: 2em;
        font-size: 1.2em; /* Smaller text size for mobile */
    }
    .recent-articles-button{
        text-decoration: underline;
        font-size: 3em;
    }
    /* Smaller name and intro for mobile */
    .profo{
        margin-right: 0em;
        border-radius: .5em;
    }
}



@media (min-width: 1025px) {
    .trigger {
        display: none; /* Hide the menu button in desktop mode */
    }

    /* Show header nav links in desktop */
    .header-nav {
        display: flex; /* Display links in a row in desktop mode */
        margin-left: auto; /* Align to the right */
    }

    .nav-links {
        display: flex; /* Display links in a row */
    }

    .nav-links li {
        margin-left: 20px; /* Add some spacing between links */
    }
    
    .intro {
        font-size: 2em; /* Larger font size */
        font-weight: 500;
        margin-bottom: 10px;
        margin-left: 50px; /* Add space from the left */
        margin-top: 100px;  /* Add space from the top */
    }
    
    .name {
        font-size: 8em; /* Slightly smaller font *
        font-weight: 900;
        margin-left: 120px; /* Add space from the left */
    }
    
    .Ent {
        margin-top: 0; /* Adjust spacing */
        order: 1; /* Place before the image */
    }

    .profo1 {
        order: 2; /* Place after the Entitlements */
    }

    .nonsoco {
        order: 3; /* Keep "Read More!" after Entitlements */
        text-align: right; /* Align "Read More!" to the right */
        margin-top: 1em; /* Adjust this value to move it down */
    }

    .profo1, .nonsoco, .Ent {
        margin-top: 2em;   
    }
    .profo {
      animation: pulse 6s infinite alternate ease-in-out;
    }
    
    /* Define the pulse animation */
    @keyframes pulse {
      0% {
        transform: scale(1); /* Normal size */
      }
      100% {
        transform: scale(1.1); /* Zoomed in */
      }
    }
}

